* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #202020;
}

.topnav {
  position: sticky;
  top: 0;
  background-color: rgb(17,45,78);
  height: 80px;
  color: #f9f7f7;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;   
  align-items: center;
}
.topnav nav {
  display: flex;
  gap: 20px;
}
.topnav .logo {
  font-size: 34px;
  font-weight: bold;
}
.topnav nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: x-large;
}
.topnav nav a:hover {
  transform: rotateX('20');
  
}
.layout {
  display: flex;
  margin-top: 10px;
}

.sidebar {
  width: 240px;
  background-color: #3f72af;
  padding: 20px;
  top: 0;
  max-height:600px ;
  overflow-y: auto;
  border-radius: 30px;
  /* position: sticky; */
  /* z-index: 1; */
  margin: 0px 20px 20px 20px;
}

.sidebar h2 {
  color: #dbe2ef;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  margin-bottom: 10px;
  color: #f9f7f7;
  margin-top: 20px;
}
.sidebar ul li a{
  color: #f9f7f7;
  text-decoration: none;
  font-size: 20px;
}
@keyframes slideOutIn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar ul li a {
  display: inline-block;
  transition: transform 0.4s ease;
}

.sidebar ul li a:hover {
  animation: slideOutIn 0.6s ease;
}




.content {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 20px;
  /* scrollbar-width: none; */
  margin-right: 20px;
}

.content h1 {
  color: rgb(17,45,78);
  font-size: 28px;
  margin-bottom: 15px;
  /* position: sticky;
  top: 0px; */
}

.content h2 {
  font-size: 22px;
  margin-top: 30px;
  color: #2d3748;
}

.content p, .content ul {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}
#structure{
    margin-left: 280px;
}